<nav>
  <div class="site-title">
    <a href="/"><h1>Your Development Blog</h1></a>
    <p>
      A
      <a href="https://github.com/vanesascode" target="_blank" rel="nonrefferer"
        ><b>vanesascode</b></a
      >
      Site
    </p>
  </div>

  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/tips">Tips</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
