<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet, autoresizing" name="snippet" required />
        <label for="autoresizing">Blog body:</label>
        <textarea id="autoresizing" name="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>

  <script type="text/javascript">
    textarea = document.querySelector("#autoresizing");
    textarea.addEventListener("input", autoResize, false);

    function autoResize() {
      this.style.height = "auto";
      this.style.height = this.scrollHeight + "px";
    }
  </script>
</html>
